.auth__button {
  /* margin: 0 auto 5px; */
  margin: 216px 36px 36px;
  padding: 0;
  width: 358px;
  height: 50px;
  /* background: #000000; */
  background: #fff;
  border: none;
  border-radius: 2px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  /* color: #ffffff; */
  color: #000;
}

.auth__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .auth__button {
    margin: 0 22px 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
